/* base class */
.display-inline-block{
    display: inline-block;
}
.vertical-align-b{
    vertical-align: bottom;
}
.vertical-align-t{
    vertical-align: top;
}
.vertical-align-m{
    vertical-align: middle;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.background-size{
    background-size: 1170px;
}
.clear{
    clear: both;
}
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
.relative{
    position: relative;
}
.text-decoration{
    text-decoration: none;
}
.border-box{
    box-sizing: border-box;
}
/* base class */

/* header block */
.body-banner{
    padding-top: 100px;
}
.background-size{
    width: 1170px;
}
.logo{
    width: 198px;
    height: 60px;
    display: inline-block;
}
.navigation-li{
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
}
.navigation-li:hover{
        opacity: 0.5;
}
.social-img{
    height: 20px;
}
.social-ul{
    display: inline-block;
    margin-top: 20px;
}
.social-li{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}
.navigation{
    margin-left: 100px;
    margin-right: 150px;  
}
.social-a{
    padding: 0 15px;
    border-right-style: solid;
    border-right-color: #3D58A6;
    border-right-width: 2px;
}
.social-li:last-child .social-a{
    padding-right: 0;
    border: 0;
}
.header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    padding: 20px 0;
    z-index: 20;
}
/* header block */

/* banner section */
.banner-ul{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 40px;
}
.white-logo{
    position: absolute;
    width: 100px;
    bottom: 30px;
    right: 30px;
}
.banner-container{
    width:auto;
    height: 520px;
    background-color: #E6E6E6;
    /* margin-top: 26px; */
    padding-top: 26px;
    z-index: 10;
}
.banner-img{
    width: 1170px;
    height: 460px;
}
/* banner section */

/* video section */
.video-title{
    line-height: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
}
.lowercase{
    display: inline-block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    padding-left: 3px;  
    color: #ffffff;
}
.video-section{
    background-color: #363E97;
    padding-bottom: 90px;
    color: #ffffff;
}
.video-iframe{
    width: 570px;
    height: 320px;
}
/* video section */

/* news section */
.news-section{
    background-color:#BDCCD4;
    padding-bottom: 90px;
}
.news-section .article{
    width: 270px;
    margin-left: 30px;
}
.news-section .article:first-child{
    margin-left: 0;
}
.news-section .article-title{
    line-height: 60px;
    width: 100%;
    background-color: #E6E6E6;
}
.news-section img{
    display: block;
}
.article-title{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    text-transform: uppercase;
    padding-left: 15px;
    box-sizing: border-box;
}
.news-section .video-title{
    color: #3D58A6;
}
.news-section .lowercase{
    color: #3D58A6;
}
/* news section */

/* responsive section */
.responsive-container{
    background-color: #E6E6E6;
}
.responsive-title{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #3D58A6;
    text-transform: uppercase;
    padding: 18px 278px 0px 20px; 
}
.click-photo{
    height: 130px;
    float: left;
    vertical-align: top;
    padding: 20px 60px 40px 40px;
}
.responsive-text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333333;
    float: right;
    display: inline-block;
    width: 340px;
    padding-top: 27px;
    padding-right: 28px;
}
.read-more{
    text-decoration: none;
    color: #3D58A6;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    float: right;
    padding: 20px 10px 20px 0px;
}
.responsive-box{
    width: 570px;
    height: 225px;
    background-color: #F2F2F2;
    box-sizing: border-box;
}
.video-title{
    color: #000000;
    font-size: 24px;
}
.lowercase{
    color: #000000;
    font-size: 24px;
}
.article-wrapper{
    margin-bottom: 30px;
}
.right-box{
  margin-left: 30px;
}
/* responsive section */

/* footer block */
.footer{
    line-height: 60px;
    color: #333333;
    font-size: 12px;
}
/* footer block */

/* contact page */
           /* navigation box */
              .navigation-box{
                  background-color: #EE4036 ;
              }
              .navigation-box-a{
                  font-size: 22px;
                  color: #ffffff;
                  line-height: 90px;
                  font-family: 'Roboto', sans-serif;
                  text-transform: uppercase;
              }
              /* .see-next-a{
                  line-height: 90px;
                  color: #ffffff;
                  font-size: 22px;
                  font-family: 'Roboto', sans-serif;
                  text-transform: lowercase;
                  text-decoration: none;
              }
              .navigation-box-li .navigation-box-a::before{
                  content:" ";
                  background-image: url(../img/arrow-right.svg);
                  height: 14px;
                  width: 23px;
                  display: inline-block;
                  margin-right: 10px;
                  margin-left: 10px;
              }
              .navigation-box-li:first-child .navigation-box-a::before{
                  display: none;
              } */
           /* navigation box */
/*map bolock  */
.map-block{
    background-color: #E6E6E6;
    padding: 30px 0;
}
.map-block .map{
    width: 1170px;
    height: 455px;
    margin: auto;
    display: block;
}
/*map bolock  */
     /* form block */
     .form-wrapper{
         background-color: #363E97;
         padding: 40px 0;
         font-family: 'Roboto', sans-serif;
     }
     .form-block .left-block{
         width: 365px;
     }
     .form-block .right-block{
         width: calc(100% - 365px);
         padding-right: 174px;
     }
     .form-row input,
     .form-row textarea{
         width: 100%;
         height: 60px;
         font-size: 20px;
         border: 1px solid #ffffff;
         background-color: transparent;
         padding-left: 25px;
         color: #ffffff;
         margin-top: 15px;
     }
     .form-row textarea{
         height: 100px;
     }
     .form-row input::placeholder{
         color: #5E65AC;
     }
     .form-row .label{
         color: #ffffff;
         text-transform: capitalize;
         font-size: 20px;
         padding-left: 25px;
     }
     .form-row{
       margin-top: 15px;
     }
     .form-row-button{
         background-color: #EE4036;
         font-size: 20px;
         height: 45px;
         width: 130px;
         text-transform: uppercase;
         font-family: 'Roboto', sans-serif;
         margin-top: 25px;
         color: #ffffff;
     }
     /* form block */
/* contact page */
