/* base class */
.display-inline-block{
    display: inline-block;
}
.vertical-align-b{
    vertical-align: bottom;
}
.vertical-align-t{
    vertical-align: top;
}
.vertical-align-m{
    vertical-align: middle;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.background-size{
    background-size: 1170px;
}
.clear{
    clear: both;
}
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
/* base class */


/* header block */
.background-size{
    width: 1170px;
}
.logo{
    width: 198px;
    height: 60px;
    display: inline-block;
}
.navigation-li{
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
}
.navigation-li:hover{
        opacity: 0.5;
}
.social-img{
    height: 20px;
}
.social-ul{
    display: inline-block;
    margin-top: 20px;
}
.social-li{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}
.navigation{
    margin-left: 100px;
    margin-right: 150px;  
}
.social-a{
    padding: 0 15px;
    border-right-style: solid;
    border-right-color: #3D58A6;
    border-right-width: 2px;
}
.social-li:last-child .social-a{
    padding-right: 0;
    border: 0;
}
.header{
    margin-top: 20px;
}
/* header block */

/* banner section */
.banner-container{
    width:auto;
    height: 520px;
    background-color: #E6E6E6;
    margin-top: 26px;
    padding-top: 26px;
}
.banner-img{
    width: 1170px;
    height: 460px;
}
/* banner section */

/* video section */
.video-title{
    line-height: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
}
.lowercase{
    display: inline-block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    padding-left: 3px;  
    color: #ffffff;
}
.video-section{
    background-color: #363E97;
    padding-bottom: 90px;
    color: #ffffff;
}
.video-iframe{
    width: 570px;
    height: 320px;
}
/* video section */
