@media (max-width: 1200px){
    .container{
        padding: 0 30px;
        box-sizing: border-box;
    }
    .news-section .article-wrapper{
        flex: 0 0 23% ;
    }
    .video-iframe{
        flex: 0 0 48%;
    }
}

@media (max-width: 1024px){
    .navigation{
        display: none;
    }
    .banner-img{
        width: 948px;
    }
    .burger-menu{
        display: block;
    }
    .logo-wrapper{
        margin: 0 auto 0 0;
    }
    .social-ul{
        margin-right: 45px;
    }
    .left-arrow{
        display: block;
        height: 40px;
        position: absolute;
        top: 160px;
        padding-left: 30px;
    }
    .right-arrow{
        display: block;
        position: absolute;
        height: 40px;
        left: 880px;
        top: 160px;
    }
    .banner-ul{
        padding-left: 30px;
        font-size: 26px;
        line-height: 27px;
    }
    .video-title-tablet{
        display: inline-block;
    }
    .lowercase-tablet{
        display: inline-block;
    }
    .video-title{
        display: none;
    }
    .lowercase{
        display: none;
    }
    .video-section .video-title{
        display: inline-block;
    }
    .video-section .lowercase{
        display: inline-block;
    }
    .video-article-wrapper{
        flex-direction: column;
    }
    .right-box{
        margin: 0;
    }
    .responsive-box{
        width: 100%;
    }
    .responsive-text{
        display: flex;
        flex-wrap: wrap;
        padding-right: 90px;
        width: auto;
        float: none;
    }
    .responsive-box:last-child{
        margin-top: 30px;
    }
    /* .responsive-container .video-title{
        display: inline-block;
    } */
    /* .responsive-container .lowercase{
        display: inline-block;
    } */
    .video-title-tablet2{
        display: inline-block;
    }
    .lowercase-tablet2{
        text-transform: lowercase;
        display: inline-block;
    }
    .responsive-box .read-more{
        float: none;
        display: flex;
        justify-content: flex-end;
        padding-top: 70px;
        padding-right: 20px;
    }
}

@media (max-width: 480px){
    
    .social-li:not(.search){
        display: none;
    }
    .overlay.active{
        opacity: 1;
        visibility: visible;
        left: 0;
    }
    .mobile-nav-ul{
        padding-top: 95px;
    }
    .mobile-nav-a{
        text-decoration: none;
        color: #3D58A6;
        font-size: 48px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .mobile-social-a{
        display: flex;
        justify-content: center;
    }
    .mobile-nav-a:hover{
        opacity: 0.5;
    }
    .mobile-social-google{
        height: 60px;
        padding-top: 60px;
    }
    .mobile-social-facebook{
        height: 60px;
        padding-top: 50px;
    }
    .mobile-social-youtube{
        height: 60px;
        padding-top: 50px;
    }
    .left-arrow{
      display: none;
    }
    .right-arrow{
        display: none;
    }
    .video-section{
        display: none; flex-direction: column
    }
    .news-section{
        display: flex;
        flex: 0 0 100%;
    }
    .article-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .news-section .container{
        width: 100%;
    }
    .news-section .article{
        margin-left: 0px;
    }
    .article:nth-child(2){
        margin-top: 45px;
    }
    .article:nth-child(3){
        margin-top: 45px;
    }
    .article:nth-child(4){
        margin-top: 45px;
    }
    .responsive-title{
        display: inline-block;
        padding: 18px 119px 0 20px;
    }
    .responsive-box{
        height: 430px;
    }
    .responsive-text{
        display: inline-block;
        padding: 0;
        margin-left: 20px;
        margin-right: 50px;
        line-height: 23px;
    }
    .responsive-box .read-more{
        padding-top: 50px;
    }
    .footer .left-block-footer{
        float: none;
        display: flex;
        justify-content: center;
        line-height: 80px;
    }
    .footer .right-block-footer{
        float: none;
        display: flex;
        justify-content: center;
        line-height: 25px;
    }
}